<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        .display-users span {
            width: 100px;
            display: inline-block;
        }

        .user-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .display-users {
            margin: 25px;
            width: 800px;
            background-color: rgba(11, 94, 215, 0.2);
            padding: 1rem;
        }

    </style>
</head>
<body>
<h3>Listing the fetched Users</h3>

<div class="user-container">
    {% for user in userList %}
        {% if user.deleted == 0 %}
            <div class="display-users">
                {% set array = { ('Username'): user.username,
                    ('Password'): user.password,
                    ('Age'): user.age,
                    ('Street'): user.street,
                    ('ZIP'): user.zip_code,
                    ('Number'): user.house_number,
                    ('City'): user.city
                } %}
                {% for key, value in array %}
                    {% if value != '' or value != 0 %}
                        <p><span>{{ key }}</span>{{ value }}</p>
                    {% endif %}
                {% endfor %}
                {% if userList|length == 1 %}
                    <form action='/delete-user' method="post" name="user-deletion">
                        <input type="hidden" name="id" value="{{ user.id }}">
                        <input type="hidden" name="username" value="{{ user.username }}">
                        <input type="submit" name="submit" value="Delete">
                    </form>
                    <form action="/logout" method="post" name="logout">
                        <input type="submit" name="submit" value="Log out">
                    </form>
                    <form action="/edit" method="post" name="render-edit">
                        <input type="submit" name="submit" value="Edit">

                        <input type="hidden" name="id" value="{{ user.id }}">
                        <input type="hidden" name="username" value="{{ user.username }}">
                        <input type="hidden" name="password" value="{{ user.password }}">
                        <input type="hidden" name="age" value="{{ user.age }}">
                        <input type="hidden" name="street" value="{{ user.street }}">
                        <input type="hidden" name="zip_code" value="{{ user.zip_code }}">
                        <input type="hidden" name="house_number" value="{{ user.house_number }}">
                        <input type="hidden" name="city" value="{{ user.city }}">

                    </form>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</div>

</body>
</html>