<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>{{ source('main.css') }}</style>
</head>
<body>

{{ include('partial_view/_navbar.html.twig', {username: currentUser}) }}

<div class="container">
    <div class="row mt-5 temp-height">
        <div class="col p-5 temp-bg">
            <p class="h4 mb-4">All Profiles</p>
            <p>{{ message }}</p>
            {% if permissions.r_other_users %}

                <form action="/overview" method="post" id="form-toggle-user">
                    <input type="checkbox" id="toggle-deleted" onchange="sendStatus()" checked="checked">
                    <label for="toggle-deleted">Show Disabled Accounts</label>
                    <script>
                        function sendStatus() {
							const cb = document.getElementById('toggle-deleted')
                            let cbStatus = cb.checked

                            const cbPayload = document.getElementById('cb-value')
                            cbPayload.value = cbStatus

                            const form = document.getElementById('form-toggle-user')
                            form.submit()
                        }
                    </script>
                    <input type="hidden" name="statusCb" id="cb-value">
                </form>
                {% if statusCb %}
                    <script>
                        console.log('case grabs - true')
                        const cb = document.getElementById('toggle-deleted').checked = true
                    </script>
                {% else %}
                    <script>
                        console.log('case grabs - false')
                        const cb = document.getElementById('toggle-deleted').checked = false
                    </script>
                {% endif %}
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Role</th>
{#                        <th scope="col">Street</th>#}
{#                        <th scope="col">House Number</th>#}
{#                        <th scope="col">ZIP Code</th>#}
                        <th scope="col">City</th>
                        <th scope="col">Age</th>
{#                        <th scope="col">Deleted</th>#}
                    </tr>
                    </thead>

                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.description }}</td>
{#                                <td>{{ user.street }}</td>#}
{#                                <td>{{ user.house_number }}</td>#}
{#                                <td>{{ user.zip_code }}</td>#}
                                <td>{{ user.city }}</td>
                                <td>{{ user.age }}</td>
{#                                <td>{{ user.deleted }}</td>#}
                                <td><a href="/profile/{{ user.id }}" class="text-reset"><i class="fa-solid fa-eye"></i></a></td>

                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            {% else %}
                <p>Your account is not authorized to show the requested data.</p>
            {% endif %}
            <form action="/home" method="post" class="mt-2">
                <input type="submit" value="Main Menu">
            </form>

        </div>
    </div>
</div>

{{ include('partial_view/_footer.html.twig') }}

<script src="https://kit.fontawesome.com/a41dcf7e67.js" crossorigin="anonymous"></script>
</div>

</body>
</html>