<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>{{ source('main.css') }}</style>
</head>
<body>
{% if isForeignProfile %}
    {{ include('partial_view/_navbar.html.twig', {username: currentUser}) }}
{% else %}
    {{ include('partial_view/_navbar.html.twig', {username: user.username}) }}
{% endif %}

<div class="container">
    <div class="row mt-5 temp-height">
        <div class="col p-5 temp-bg">
            {% if not isForeignProfile or
                (isForeignProfile and permissions.r_other_users) %}
                <p class="h4 mb-4">{{ user.username }}</p>
                {% set array = {
                    ('Age'): user.age,
                    ('Street'): user.street,
                    ('Number'): user.house_number,
                    ('ZIP'): user.zip_code,
                    ('City'): user.city
                } %}
                {% for key, value in array %}
                    {% if value != '' or value != 0 %}
                        <p><span class="wide-tabulator">{{ key }}</span>{{ value }}</p>
                    {% endif %}
                {% endfor %}

                {% if isForeignProfile and permissions.u_other_users and not user.deleted %}
                    <form action="/edit" method="post" name="render-edit" class="mt-5">
                        <input type="submit" name="submit" value="Edit">

                        <input type="hidden" name="id" value="{{ user.id }}">
                        <input type="hidden" name="username" value="{{ user.username }}">
                        <input type="hidden" name="password" value="{{ user.password }}">
                        <input type="hidden" name="age" value="{{ user.age }}">
                        <input type="hidden" name="street" value="{{ user.street }}">
                        <input type="hidden" name="zip_code" value="{{ user.zip_code }}">
                        <input type="hidden" name="house_number" value="{{ user.house_number }}">
                        <input type="hidden" name="city" value="{{ user.city }}">
                    </form>
                {% endif %}

                {% if isForeignProfile and permissions.d_other_users and not user.deleted %}
                    <form action='/delete' method="post" name="user-deletion" class="mt-2">
                        <input type="hidden" name="id" value="{{ user.id }}">
                        <input type="hidden" name="username" value="{{ user.username }}">
                        <input type="submit" name="submit" value="Delete">
                    </form>
                {% endif %}

                {% if isForeignProfile %}
                    <form action="/overview" method="post" class="mt-2">
                        {% if user.deleted %}
                            <input type="hidden" name="statusCb" id="cb-value" value="true">
                        {% endif %}
                        <input type="submit" value="Back">
                    </form>
                {% else %}
                    <form action="/home" method="post" class="mt-2">
                        <input type="submit" value="Main Menu">
                    </form>
                {% endif %}
            {% else %}
                <p>Your account is not authorized to show the requested data.</p>
                <form action="/home" method="post" class="mt-2">
                    <input type="submit" value="Main Menu">
                </form>
            {% endif %}
        </div>
    </div>
</div>

{{ include('partial_view/_footer.html.twig') }}

<script src="https://kit.fontawesome.com/a41dcf7e67.js" crossorigin="anonymous"></script>
</div>

</body>
</html>